*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;

}
html{
    font-family: circular std, sans-serif;
    font-weight: 100;
}
body{
    width: 60%;
    margin: auto;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.blue{
    color: #1E90FF;
}
h1{
    font-size: 40px;
    font-weight: 400;
    color: #17191a;
}
h2{
    font-size: 35px;
    font-weight: 400;
    color: #17191a;
}
h5{
    font-size: 20px;
    margin-top: 10px;
    color: #17191a;
}
p{
    color: #8F9EA5;
    opacity: 0.8;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}

/*----------------NAV-------------*/
.nav{
    display: flex;
    align-items: center;
    height: 100px;
}
.contactMe , .navIcons{
    flex: 1;
}
.navIcons{
    text-align: right;
}
.navIcons a, .contactMe a , .contactMe img{
    display: inline-block;
    vertical-align: middle;
}
.navIcons a{
    margin-left: 40px;
}
.navIcons img{
    width: 70px;
    transition: transform .3s;
}
.navIcons img:hover{
    transform: scale(1.1);
}
.contactMe button{
    color: white;
    text-decoration: none;
    background: #1E90FF;
    border-radius: 20px 20px 20px 20px;
    padding: 11px;
    transition: all 0.2s ease-out;
}
.contactMe button:hover{
    transform: scale(1.1);
}

/*----------------Landing-------------*/
.landing{
    height: 100vh;
    position: relative;
    background-image: url("Images/Background.png");
}

.landing img{
    width: 400px;
}
.landingWrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
ul{
    list-style: none;
    margin-top: 30px;
    line-height: 30px;
}
.landingLeft{
    margin-top: 4em;
}
.scroll{
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    opacity: 50%;
}
/*----------------Skills-------------*/
.skills{
    text-align: center;
    margin-bottom: 20em;
}
.skills p{
    margin-bottom: 30px;
}
.skills img{
    width: 100px;
    margin: 25px;
    transition: transform .9s;
}
.skills img:hover{
    transform: scale(+0.8);
}

/*----------------Work 01-------------*/
.work{
    width: 100%;
    position: relative;
    margin-bottom: 16em;
}
.work > .workText{
    position: absolute;
    top: 85px;
}
.underDev{
    color: red;
    text-decoration: black;
}
.underline{
    text-align: center;
}

.work > .workText > .underline{
    display: block;
    background-color: #1E90FF;
    height: 3px;
    width: 61px;
    margin-top: 5px;
}
.work > .workImg{
    width: 85%;
    float: right;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}
.work ul{
    position: absolute;
    bottom: 0;
    right: 86%;
}
.work ul li{
    margin-top: 20px;
}
.workImg{
    width: 80px;
    transition: transform .5s;
}
.workImg:hover{
    transform: translate(135px);
}
.work img{
    width: 80px;
}
.work h1{
    margin-top: 20px;
    font-weight: 450;
}
/*----------------Work 02-------------*/
.work2{
    width: 100%;
    position: relative;
    margin-bottom: 16em;
}
.work2 > .workText{
    position: absolute;
    top: 85px;
    right: 0;
    text-align: right;
}
.work2 > .workText > .underline{
    display: block;
    background-color: #1E90FF;
    height: 3px;
    width: 61px;
    margin-top: 5px;
    float: right;
}
.work2 > .workImg2{
    width: 85%;
    float: left;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}
.work2 ul{
    position: absolute;
    bottom: 0;
    left: 86%;
}
.work2 ul li{
    margin-top: 20px;
}
.workImg2{
    transition: transform .5s;
}
.workImg2:hover{
    transform: translate(-135px);
}
.work2 img{
    width: 80px;
}
.work2 h1{
    margin-top: 20px;
    font-weight: 450;
}
/*----------------Work 02 and 01-------------*/
.work a,.work2 a{
    text-decoration: none;
    color: #17191a;
}
/*----------------footer-------------*/
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin-bottom: 20px;
}
.footerText p{
    color: #8F9EA5;
    margin-top: 35px;
 }

.footerLogos{
    display: flex;
    justify-content: space-evenly;
}
.footerLogos img{
    width: 70px;
    margin: 5px;
    padding: 5px;
    transition: transform .3s;
}
.footerLogos img:hover{
    transform: scale(1.1);
}
/*----------------media queries-------------*/
@media only screen and (max-width: 750px) {
    .navIcons {
        display: flex;
    }
    .landingRight img{
        width: 250px;
    }
    .landing{
        display: block;
        background: none;
    }


}
@media only screen and (max-width: 825px) {
    .landingWrapper{
        display: block;
    }
    .scroll{
        display: none;
    }
    .work{
        display: block;
        justify-content: space-evenly;
    }
    .workText{
        display: none;
    }
}


@media only screen and (max-width: 500px) {
    .landing{
        display: block;
        background: none;
    }
    .navIcons {
        display: flex;
        width: 50px;
    }
    .landingRight img{
        display: none;
    }
    .skills{
        margin-bottom: 70px;
    }
    body{
        width: 100%;
    }
    .landingLeft {
        text-align: center;
        margin: auto;
    }
}
@media only screen and (max-width: 415px) {
    body{
        width: 70%;
    }
    .nav{
        width: 50%;
    }
    .scroll{
        display: none;
    }
    .work{
        margin-bottom: 200px;
    }
    .workImg:hover{
        transform: translate(+30px);
    }
    .workImg2:hover{
        transform: translate(-30px);
    }
    .landingWrapper{
        text-align: center;
        margin: auto;
    }
    .landing{
        display: block;
        background: none;
    }
    .footer{
        margin-top: 100px;
        width: 100%;
    }

}

